@charset "utf-8";

html{
    font-size: 62.5%;
}


@mixin fontsize($size: 24, $base: 10) {
font-size: $size + px;
font-size: ($size / $base) * 1rem;
}

$font_color: #524c3e;


li{
    list-style:none;
}


body{
    background-color:#f9f8f6;

    header{
        
        .header_sp{
            width: 100%;
            text-align: center;
            
        
            .logo_sp{
                display: block;
                margin-left:auto;
                margin-right:auto;
                padding:20px 0;
            }
            
            
            .sp_menu{
                width:100%;
                margin-bottom:20px;
                padding:0;
                
                li{
                    display: inline-block;
                    list-style: none;
                    margin:0;
                    
                }
                
                
                
               img{
                   width:30px;
                   height:30px;
                   padding:0 5px;
               }
               
               #humberger_menu{
                position:relative;
                }
               
            }
            
            
            
            .sp_list{
                position:absolute;
                top:105px;
                right:20%;
                text-align:left;
                background-color:#887f69;
                opacity:0.9;
                display:none;
                z-index:100;
                
                
                ul{
                    margin:0;
                }
                
                li{
                    list-style: none;
                    padding:5px;
                    margin:0;
                    
                    a{
                    text-decoration:none;
                    color:white;
                    }
                    
                            
                }
                
                    
            }
            
        }
        
        @media(min-width:550px){
            .header_sp{
                display:none;
            }
        }
        
        @media(max-width:550px){
            .header_pc{
                display:none;
            }
        }
        
        //スマホ用ヘッダー   
           
        
        
        .header_pc{
            height:80px;
            position:relative;
            margin-bottom:15px;
            
            .pc_header_left{
                width:30%;
                position:absolute;
                bottom:0;
                left:0;
                
            }
            
            
            .pc_header_right{
                width:70%;
                margin:0;
                text-align:right;
                position:absolute;
                bottom:0;
                right:0;
                
                
                ul{
                    margin:0;
                
                li{
                    display: inline-block;
                    list-style:none;
                    padding-left:10px;
                    
                    
                    a{
                        text-decoration:none;
                        color:$font_color;
                        font-weight:bold;
                        letter-spacing:1px;
                    }
                }
              }
            }
        } 
    }
    
    
    //pc header
    
    
    
    .items_area{
        
        
        .items_title_sp{
            text-align:center;
            padding:15px 0;
            
        }
        
        .items_title_pc{
            padding:15px 0;
            
            img{
                width:100%;
            }
        }
        
    }
    
    
    @media(min-width:550px){
        .items_title_sp{
            display:none;
        }
    }
    
    @media(max-width:550px){
        .items_title_pc{
            display:none;
        }
    }
    
    
    .item_wrapper{
        background-color:white;
    
        .item_list{
            display:inline-block;
            box-sizing:border-box;
            border:1px solid #f9f8f6;
            width:50%;
            height:100%;
            padding:10px;
            margin:0;
            float:left;
            
            img{
                width:100%;
            }
            
            p{
                width:100%;
                margin-bottom:10px;
            }
            
        }
        
        @media(min-width:550px){
            .item_list{
                width:33.333333%;
            }
        }
        
        
    }
    
    .clearfix::after {
        content: '';
        display: block;
        clear: both;
    }
    
    //item area
    
    
    .guide_area{
        margin-bottom:20px;
        
        .guide_title_sp{
            text-align:center;
            padding:15px 0
        }
        
        .guide_title_pc{
            padding:15px 0;
            
            img{
                width:100%;
            }
        }
        
        .guide_item{
            padding:20px;
            background-color:white;
            margin-bottom:10px;
            
            
            img{
                width:70%;
                
            }
            
            .cards{
                width:100%;
            }
            
            h2{
                @include fontsize(24);
                color: #887f69;
                font-weight:bold;
            }
            
            h3{
                @include fontsize(18);
                margin:0;
                color: #887f69;
                font-weight:bold;
            }
            
            p{
                @include fontsize(16);
            }
            
            span{
                @include fontsize(28);
            }
        }
        
        @media(min-width:550px){
            
            .guide_item{
                box-sizing:border-box;
                border-right:2px solid #f9f8f6;
                border-left:2px solid #f9f8f6;
                width:50%;
                height:350px;
                float:left;
                margin:0;
                
            }
        }
        
        
    }
    
    @media(min-width:550px){
        .guide_title_sp{
            display:none;
        }
    }
    
    @media(max-width:550px){
        .guide_title_pc{
            display:none;
        }
    }
    
    
    
    .search_area{
        background-color:#fff;
        width:100%;
        box-sizing:border-box;
        
        
        .search_item{
            box-sizing:border-box;
            position:relative;
            height:100%;
            width:90%;
            padding: 20px 0;
            margin:0;
            margin-left:auto;
            margin-right:auto;
            
        
            input{
                width:100%;
                border:none;
                background-color:#eee;
                margin:0;
                
            }
            

            dd{
                display:block;
                position:absolute;
                top:20px;
                right:0;
                
                
                button{
                    background-color:#eee;
                    border:none;
                    margin:0;
                    padding:0 10px;
                }


                span{
                    display:block;
                    width:20px;
                    height:20px;
                    background-image:url("../images/top/search_icon.png");
                    background-repeat:no-repeat;
                    background-size:contain;
                }
                
            }
            
        }
        
        
        @media(max-width:550px){
            .item_search{
                display:none;
            }
        }
        
        
        @media(min-width:550px){
            
            .search_item{
                width:80%;
            }
            
            
            .item_search{
                display:block;
                margin:0 10%;
                padding-top:15px;
                    
            }
            
        }
        
    }
    
    
    .accordion_wrapper{
        
        margin:10px 0;
        
        .accordion_menu{
            
            background-color:#887f69;
            padding:15px 5%;
            position:relative;
            
            .accordion_title{
                height:auto;
                width:auto;
            }
            
            .accordion_icon{
                position:absolute;
                top:40%;
                right:5%;
            }
            
            .down_icon{
                display:none;
                position:absolute;
                top:40%;
                right:5%;
                
            }
            
        }
        
        
        .accordion_list{
            
            display:none;
            
            li{
                list-style:none;
                padding:15px 5%;
                background-color:#fff;
                border-bottom:2px solid #f9f8f6;
                margin:0;
                
                img{
                    padding:5px 0;
                    
                }
                
                a{
                    text-decoration:none;
                    color:black;
                }
            }
            
        }
        
    }
    
    @media(min-width:550px){
        .accordion_wrapper{
            margin:10px 0;
        }
    }
    
    
    .info_wrapper{
        margin-bottom:10px;
        
        .info_title{
            background-color:#887f69;
            padding: 15px 5%;
            height:100%;
        }
        
        
        
        .info_contents{
            height:100%;
            width:100%;
            
            .image_area{
                box-sizing:border-box;
                width:50%;
                height:100%;
                display:inline-block;
                float:left;
                
                img{
                    box-sizing:border-box;
                    padding:15px;
                    width:100%;
                }
                
                }
            
            
            .text_info{
                width:50%;
                height:100%;
                display:inline-block;
                float:left;
                box-sizing:border-box;
                padding:15px;
            
                img{
                    
                    
                }
                
                p{
                    margin-bottom:15px;
                    display:inline-block;
                    width:100%;
                    height:100%;
                }
            
            }
        
          
            
        }
     
         @media(min-width:550px){
        
        .info_contents{
            width:100%;
            height:100%;
        
            .image_area{
                width:100%;
                height:100%;
                
                img{
                    width:100%;
                    display:block;
                    padding:10px;
                }
                
            }
            
            .text_info{
                display:block;
                width:100%;
                padding:10px;
                text-align:center;
                
                
                p{
                    text-align:left;
                }
                
            }
        
          }
        }   
        
    }
    

    
    
    .footer_img{
        text-align:center;
        border-bottom:1px solid #887f69;
        
        img{
            padding:15px;
        }
    }
    
    .footer_text{
        text-align:center;
        padding:10px;
        @include fontsize(10);
        
        .copyright{
            color:#b8b4ac;
        }
    }
    
    @media(min-width:550px){
        footer{
            margin-top:30px;
        }
        
        
        .footer_img{
            text-align:right;
            
        }
    }
}

//TOPページ

.header_top_list{
    
    background-color:#e8e4da;
    color:#887f69;
    margin-bottom:10px;
    padding:15px;
    
    img{
        width:15px;
        height:15px;
        padding:0 5px;
    }
    
    p{
        display:inline-block;
        margin:0;
    }
}






.list_top_img{
    width:100%;
    
    .pc_top{
        display:none;
    }
    
    .sp_top{
        width:100%;
    }
    
    
    @media(min-width:550px){
        .sp_list{
            display:none;
        }
        
        .pc_top{
            width:100%;
        }
    }
    
}

//list_top_img



.feed_page_area{
    
    margin:20px 0;
    
    a{
        padding:10px 40px;
        text-decoration:none;
        color:#fff;
        font-weight:bold;
        display:inline-block;
    }
}


.page_left_area{
    background-color:#887f69;
    float:left;
    display:inline-block;
}

.page_right_area{
    background-color:#887f69;
    float:right;
    display:inline-block;
}

//ページ送りエリア



//ここからproductsエリア

.products_area{
    background-color:#fff;
}



.products_title{
    
    padding:15px 0;
    
    h3{
       @include fontsize(20); 
       font-weight:bold;
       margin-bottom:5px;
    }
    
    p{
        color:#a6a6a6;
        margin:0;
    }
    
    //SP用表示
}

    
    @media(min-width:550px){
        .products_area{
            width:100%;
            box-sizing:border-box;
        }
        
        .products_wrapper{
            width:82%;
            margin:0 auto;
        }
        
        .products_title{
            box-sizing:border-box;
            width:100% ;
            padding:20px p;
        
        
        h3{
            display:inline-block;
            float:left;
        }
            
        p{
            display:inline-block;
            float:right;
        }
        
        }
     
      }
      //PC用表示
      
      
      
//ここからimgエリア

.products_img_area{
    padding:10px 0;
    border-top:2px solid #f6f5f2;
    border-bottom:2px solid #f6f5f2;
}



#display_img{
    width:100%;
    box-sizing:border-box;
    
    img{
        width:100%;
    }
    
}

#list_img{
    margin:0;
    
    li{
        display:inline-block;
        box-sizing:border-box;
        width:20%;
        padding:0 0.5%;
        margin:0;
        float:left;
    }
    
    img{
        width:100%;
        margin:0;
    }
    
}




@media(min-width:550px){

    .products_img_area{
        width:100%;
        
    }    

    #display_img{
        width:70%;
        height:100%;
        display:inline-block;
        float:left;
        
        img{
            width:100%;
        }
        
    }
    
    
    #list_img{
        width:30%;
        display:inline-block;
        box-sizing:border-box;
        float:left;
        padding-left:1.5%;
        margin:0;
        
        li{
            width:50%;
            box-sizing:border-box;
        }
        
        img{
            width:92%;
        }
        
    }



}


.wrapper_area{
    width:100%;
}


.color_wrapper{
    
    border-bottom:2px solid #f6f5f2;
    
    img{
        padding:10px;
    }
    
    
    table{
        width:100%;
        border:1px solid  #f6f5f2;
        color: #887f69;
    }
    
    .color{
        background-color:#f9f9f5;
    }
    
    td{
        border:1px solid #e2ddd4;
        text-align:center
    }
    
    span{
        @include fontsize(30);
    }
}


.plice_wrapper{
    
}

.plice_area{
    
    border-bottom:2px solid #f6f5f2;
    padding:10px 0;
    
    p{
        display:inline-block;
        margin:0;
        
        span{
            color:red;
            @include fontsize(30);
        }
    }
    
    
    input{
        width:140px;
        height:48px;
        margin:0;
        border:2px solid  #f6f5f2;
        border-radius:0px;
    }
    
}

.title_area{
    display:inline-block;
    width:30%;
    
}



.cart_area{
    text-align:center;
    
    img{
        margin:0;
        padding:10px 0;
        width:80%;
        
    }
}


@media(min-width:550px){
    .plice_wrapper{
        width:50%;
        box-sizing:border-box;
        display:inline-block;
        float:left;
        
    }
    
    .cart_area{
        width:50%;
        box-sizing:border-box;
        display:inline-block;
        float:left;
        text-align:right;
    }
    
}


.products_discription{
    padding:20px 0;
    
    
    h3{
        @include fontsize(20);
        color:#887f69;
        font-weight:bold;
    }
    
    table{
        width:100%;
        color: #887f69;
        
        td{
            border:1px solid #e2ddd4;
        }
    
        .color{
            width:30%;
            text-align:center;
            background-color:#f9f9f5;
        }
    }
}

.discription_title{
    border-bottom:1px solid #887f69;
    padding:10px;
}


@media(min-width:550px){
    .products_discription{
        border-top:2px solid #f6f5f2;
    }
    
    .quantity{
        border-bottom:0px;
    }
}