html {
  font-size: 62.5%; }

li {
  list-style: none; }

p {
  font-size: 15px;
  font-size: 1.5rem; }

body {
  background-color: #f9f8f6; }
  body header .header_sp {
    width: 100%;
    text-align: center; }
    body header .header_sp .logo_sp {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding: 20px 0;
      width: 115px; }
    body header .header_sp .sp_menu {
      width: 100%;
      margin-bottom: 20px;
      padding: 0; }
      body header .header_sp .sp_menu li {
        display: inline-block;
        list-style: none;
        margin: 0; }
      body header .header_sp .sp_menu img {
        width: 30px;
        height: 30px;
        padding: 0 5px; }
      body header .header_sp .sp_menu #humberger_menu {
        position: relative; }
    body header .header_sp .sp_list {
      position: absolute;
      top: 105px;
      right: 20%;
      text-align: left;
      background-color: #887f69;
      opacity: 0.9;
      display: none;
      z-index: 100; }
      body header .header_sp .sp_list ul {
        margin: 0; }
      body header .header_sp .sp_list li {
        list-style: none;
        padding: 5px;
        margin: 0; }
        body header .header_sp .sp_list li a {
          text-decoration: none;
          color: white; }
  @media (min-width: 550px) {
    body header .header_sp {
      display: none; } }
  @media (max-width: 550px) {
    body header .header_pc {
      display: none; } }
  body header .header_pc {
    height: 50px;
    position: relative;
    margin-bottom: 15px;
    margin-top: 50px;
    box-sizing: border-box; }
    body header .header_pc .pc_header_left {
      width: 30%;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0; }
      body header .header_pc .pc_header_left img {
        display: inline-block;
        height: 100%;
        padding-bottom: 10px;
        box-sizing: border-box; }
    body header .header_pc .pc_header_right {
      width: 70%;
      margin: 0;
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0; }
      body header .header_pc .pc_header_right ul {
        margin: 0;
        height: 100%; }
        body header .header_pc .pc_header_right ul li {
          display: inline-block;
          list-style: none;
          padding-left: 10px;
          margin-bottom: 10px; }
          body header .header_pc .pc_header_right ul li a {
            text-decoration: none;
            color: #524c3e;
            font-weight: bold;
            letter-spacing: 1px; }
  body .items_area .items_title_sp {
    text-align: center;
    padding: 15px 0; }
    body .items_area .items_title_sp img {
      width: 110px; }
  body .items_area .items_title_pc {
    padding: 15px 0; }
    body .items_area .items_title_pc img {
      width: 100%; }
  body .items_area .items_title_sp_popular {
    text-align: center;
    padding: 15px 0; }
    body .items_area .items_title_sp_popular img {
      width: 150px; }
  @media (min-width: 550px) {
    body .items_title_sp {
      display: none; } }
  @media (max-width: 550px) {
    body .items_title_pc {
      display: none; } }
  @media (min-width: 550px) {
    body .items_title_sp_popular {
      display: none; } }
  body .item_wrapper {
    background-color: white; }
    body .item_wrapper .item_list {
      display: inline-block;
      box-sizing: border-box;
      border: 1px solid #f9f8f6;
      width: 50%;
      height: 100%;
      padding: 10px;
      margin: 0;
      float: left; }
      body .item_wrapper .item_list img {
        width: 100%; }
      body .item_wrapper .item_list p {
        width: 100%;
        margin-bottom: 10px;
        font-size: 12px;
        font-size: 1.2rem; }
    @media (min-width: 550px) {
      body .item_wrapper .item_list {
        width: 33.333333%; } }
  body .clearfix::after {
    content: '';
    display: block;
    clear: both; }
  body .guide_area {
    margin-bottom: 20px; }
    body .guide_area .guide_title_sp {
      text-align: center;
      padding: 15px 0; }
      body .guide_area .guide_title_sp img {
        width: 170px; }
    body .guide_area .guide_title_pc {
      padding: 15px 0; }
      body .guide_area .guide_title_pc img {
        width: 100%; }
    body .guide_area .guide_item {
      padding: 20px;
      background-color: white;
      margin-bottom: 10px; }
      body .guide_area .guide_item img {
        width: 70%; }
      body .guide_area .guide_item .cards {
        width: 100%; }
      body .guide_area .guide_item h2 {
        font-size: 16px;
        font-size: 1.6rem;
        color: #887f69;
        font-weight: bold;
        margin-bottom: 10px; }
      body .guide_area .guide_item h3 {
        font-size: 12px;
        font-size: 1.2rem;
        margin: 0;
        color: #887f69;
        font-weight: bold; }
      body .guide_area .guide_item p {
        font-size: 12px;
        font-size: 1.2rem;
        margin-bottom: 10px; }
      body .guide_area .guide_item span {
        font-size: 20px;
        font-size: 2rem; }
    @media (min-width: 550px) {
      body .guide_area .guide_item {
        box-sizing: border-box;
        border-right: 2px solid #f9f8f6;
        border-left: 2px solid #f9f8f6;
        width: 50%;
        height: 255px;
        float: left;
        margin: 0; } }
  @media (min-width: 550px) {
    body .guide_title_sp {
      display: none; } }
  @media (max-width: 550px) {
    body .guide_title_pc {
      display: none; } }
  body .search_area {
    background-color: #fff;
    width: 100%;
    box-sizing: border-box; }
    body .search_area .search_item {
      box-sizing: border-box;
      position: relative;
      height: 100%;
      width: 90%;
      padding: 15px 0;
      margin: 0;
      margin-left: auto;
      margin-right: auto; }
      body .search_area .search_item input {
        width: 100%;
        border: none;
        background-color: #eee;
        margin: 0; }
      body .search_area .search_item dd {
        display: block;
        position: absolute;
        top: 15px;
        right: 0; }
        body .search_area .search_item dd button {
          background-color: #eee;
          border: none;
          margin: 0;
          padding: 0 10px; }
        body .search_area .search_item dd span {
          display: block;
          width: 20px;
          height: 20px;
          background-image: url("../images/top/search_icon.png");
          background-repeat: no-repeat;
          background-size: contain; }
    @media (max-width: 550px) {
      body .search_area .item_search {
        display: none; } }
    @media (min-width: 550px) {
      body .search_area .search_item {
        width: 80%; }
      body .search_area .item_search {
        display: block;
        margin: 0 10%;
        padding-top: 15px; } }
  body .accordion_wrapper {
    margin: 10px 0; }
    body .accordion_wrapper .accordion_menu {
      background-color: #887f69;
      padding: 15px 5%;
      position: relative; }
      body .accordion_wrapper .accordion_menu .accordion_title {
        height: auto;
        width: auto; }
      body .accordion_wrapper .accordion_menu .accordion_icon {
        position: absolute;
        top: 40%;
        right: 5%; }
      body .accordion_wrapper .accordion_menu .down_icon {
        display: none;
        position: absolute;
        top: 40%;
        right: 5%; }
    body .accordion_wrapper .accordion_list {
      display: none; }
      body .accordion_wrapper .accordion_list li {
        position: relative;
        list-style: none;
        padding: 15px 5%;
        background-color: #fff;
        border-bottom: 2px solid #f9f8f6;
        margin: 0;
        font-size: 12px;
        font-size: 1.2rem; }
        body .accordion_wrapper .accordion_list li img {
          position: absolute;
          top: 25%;
          right: 5%;
          padding: 5px 0; }
        body .accordion_wrapper .accordion_list li a {
          text-decoration: none;
          color: black; }
  @media (min-width: 550px) {
    body .accordion_wrapper {
      margin: 10px 0; } }
  body .info_wrapper {
    margin-bottom: 10px;
    background-color: #fff; }
    body .info_wrapper .info_title {
      background-color: #887f69;
      padding: 15px 5%;
      height: 100%; }
    body .info_wrapper .info_contents {
      height: 100%;
      width: 100%; }
      body .info_wrapper .info_contents .image_area {
        box-sizing: border-box;
        width: 50%;
        height: 100%;
        display: inline-block;
        float: left; }
        body .info_wrapper .info_contents .image_area img {
          box-sizing: border-box;
          padding: 15px;
          width: 100%; }
      body .info_wrapper .info_contents .text_info {
        width: 50%;
        height: 100%;
        display: inline-block;
        float: left;
        box-sizing: border-box;
        padding: 15px; }
        body .info_wrapper .info_contents .text_info p {
          margin-bottom: 15px;
          display: inline-block;
          width: 100%;
          height: 100%;
          font-size: 12px;
          font-size: 1.2rem; }
    @media (min-width: 550px) {
      body .info_wrapper .info_contents {
        width: 100%;
        height: 100%; }
        body .info_wrapper .info_contents .image_area {
          width: 100%;
          height: 100%; }
          body .info_wrapper .info_contents .image_area img {
            width: 100%;
            display: block;
            padding: 10px; }
        body .info_wrapper .info_contents .text_info {
          display: block;
          width: 100%;
          padding: 10px;
          text-align: center; }
          body .info_wrapper .info_contents .text_info p {
            text-align: left; } }
  body .footer_img {
    text-align: center;
    border-bottom: 1px solid #887f69; }
    body .footer_img img {
      padding: 15px; }
  body .footer_text {
    text-align: center;
    padding: 10px; }
    body .footer_text p {
      font-size: 13px;
      font-size: 1.3rem; }
    body .footer_text .copyright {
      color: #b8b4ac; }
  @media (min-width: 550px) {
    body footer {
      margin-top: 30px; }
    body .footer_img {
      text-align: right; } }

.header_top_list {
  background-color: #e8e4da;
  color: #887f69;
  margin-bottom: 10px;
  padding: 15px; }
  .header_top_list img {
    width: 15px;
    height: 15px;
    padding: 0 5px; }
  .header_top_list p {
    display: inline-block;
    margin: 0; }

.list_top_img {
  width: 100%; }
  .list_top_img .pc_top {
    display: none; }
  .list_top_img .sp_top {
    width: 100%; }
  @media (min-width: 550px) {
    .list_top_img .sp_list {
      display: none; }
    .list_top_img .pc_top {
      display: block;
      width: 100%;
      padding-bottom: 10px; }
    .list_top_img .sp_top {
      display: none; } }

.feed_page_area {
  margin: 20px 0; }
  .feed_page_area a {
    padding: 10px 40px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: inline-block; }

.page_left_area {
  background-color: #887f69;
  float: left;
  display: inline-block; }

.page_right_area {
  background-color: #887f69;
  float: right;
  display: inline-block; }

.products_area {
  background-color: #fff; }

.products_title {
  padding: 15px 0; }
  .products_title h3 {
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 5px; }
  .products_title p {
    color: #a6a6a6;
    margin: 0;
    font-size: 11px;
    font-size: 1.1rem; }

@media (min-width: 550px) {
  .products_area {
    width: 100%;
    box-sizing: border-box; }

  .products_wrapper {
    width: 82%;
    margin: 0 auto; }

  .products_title {
    box-sizing: border-box;
    width: 100%;
    padding: 20px p; }
    .products_title h3 {
      display: inline-block;
      float: left; }
    .products_title p {
      display: inline-block;
      float: right; } }
.products_img_area {
  padding: 10px 0;
  border-top: 2px solid #f6f5f2;
  border-bottom: 2px solid #f6f5f2; }

#display_img {
  width: 100%;
  box-sizing: border-box; }
  #display_img img {
    width: 100%; }

#list_img {
  margin: 0; }
  #list_img li {
    display: inline-block;
    box-sizing: border-box;
    width: 20%;
    padding: 0 0.5%;
    margin: 0;
    float: left; }
  #list_img img {
    width: 100%;
    margin: 0; }

@media (min-width: 550px) {
  .products_img_area {
    width: 100%; }

  #display_img {
    width: 70%;
    height: 100%;
    display: inline-block;
    float: left; }
    #display_img img {
      width: 100%; }

  #list_img {
    width: 30%;
    display: inline-block;
    box-sizing: border-box;
    float: left;
    padding-left: 1.5%;
    margin: 0; }
    #list_img li {
      width: 50%;
      box-sizing: border-box; }
    #list_img img {
      width: 92%; } }
.wrapper_area {
  width: 100%; }

.color_wrapper {
  border-bottom: 2px solid #f6f5f2; }
  .color_wrapper img {
    padding: 10px 0; }
  .color_wrapper table {
    width: 100%;
    border: 1px solid  #f6f5f2;
    color: #887f69; }
  .color_wrapper .color {
    background-color: #f9f9f5; }
  .color_wrapper td {
    border: 1px solid #e2ddd4;
    text-align: center; }
  .color_wrapper span {
    font-size: 30px;
    font-size: 3rem; }

.plice_area {
  border-bottom: 2px solid #f6f5f2;
  padding: 10px 0; }
  .plice_area p {
    display: inline-block;
    margin: 0; }
    .plice_area p span {
      color: #e80f66;
      font-size: 25px;
      font-size: 2.5rem; }
  .plice_area input {
    width: 140px;
    height: 48px;
    margin: 0;
    border: 2px solid  #f6f5f2;
    border-radius: 0px; }

.title_area {
  display: inline-block;
  width: 30%; }

.cart_area {
  text-align: center; }
  .cart_area img {
    margin: 0;
    padding: 10px 0;
    width: 205px; }

@media (min-width: 550px) {
  .plice_wrapper {
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
    float: left; }

  .cart_area {
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    text-align: right; }
    .cart_area img {
      width: 80%; } }
.products_discription {
  padding: 20px 0; }
  .products_discription h2 {
    font-size: 19px;
    font-size: 1.9rem;
    color: #887f69;
    font-weight: bold; }
  .products_discription h3 {
    font-size: 16px;
    font-size: 1.6rem;
    color: #887f69;
    font-weight: bold; }
  .products_discription p {
    font-size: 11px;
    font-size: 1.1rem; }
  .products_discription table {
    width: 100%;
    color: #887f69; }
    .products_discription table td {
      border: 1px solid #e2ddd4;
      font-size: 12px;
      font-size: 1.2rem; }
    .products_discription table .color {
      width: 30%;
      text-align: center;
      background-color: #f9f9f5; }

.discription_title {
  border-bottom: 1px solid #887f69;
  padding: 10px; }

@media (min-width: 550px) {
  .products_discription {
    border-top: 2px solid #f6f5f2; }
    .products_discription p {
      font-size: 14px;
      font-size: 1.4rem; }

  .quantity {
    border-bottom: 0px; } }
@media (max-width: 440px) {
  .products_area {
    box-sizing: border-box; } }
@media (max-width: 550px) {
  .products_area {
    margin: 0 -4%;
    padding: 0 4%; } }

/*# sourceMappingURL=main.css.map */
